```bash
appwrite account update-passkey-verification \
    --passkey-id '<PASSKEY_ID>' \
    --credential '{}'
```
