name: Publish Package to npmjs

on:
  release:
    types: [published]

permissions:
  id-token: write
  contents: read

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Setup binfmt with QEMU
        run: | 
          sudo apt update
          sudo apt install qemu-system binfmt-support qemu-user-static
          update-binfmts --display

      - name: Setup ldid
        run: |
          git clone https://github.com/tpoechtrager/ldid
          cd ./ldid
          sudo make
          sudo make install

      - name: Install dependencies and build for Linux and Windows
        run: |
          bun install
          bun run linux-x64
          bun run linux-arm64
          bun run mac-x64
          bun run mac-arm64
          bun run windows-x64
          bun run windows-arm64

      - name: Publish NPM library
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
          if ${{ contains(github.event.release.tag_name, '-rc') }}; then
            echo "Publishing Release Candidate ${{ github.event.release.tag_name}} to NPM"
            bun publish --access public --tag next
          else
            echo "Publishing ${{ github.event.release.tag_name}} to NPM"
            bun publish --access public
          fi

      - uses: fnkr/github-action-ghr@v1
        env:
          GHR_PATH: build/
          GHR_REPLACE: false
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}